<% if @company %>
  <h1>Jobs at <strong><%= @company.name %></strong></h1>
<% else %>
  <h1>All Jobs</h1>
<% end %></strong></h1>

<a href='/jobs/new'>Add a New Job</a>

<div class="headers">
  <h2>Title</h2>
  <h2>Company</h2>
  <h2>City</h2>
  <h2>Interest</h2>
</div>

<% @jobs.each do |job| %>
  <ul>
    <li><%= link_to job.title, edit_company_job_path(@company, job) %> </li>
    <li><%= job.company.name %> </li>
    <li><%= job.city %></li>
    <li>Interest Level</li>
  </ul>
<% end %>
