<h1><%= @company.name %></h1>

<h2>Add a New Contact</h2>

<h4>Existing Contacts</h4>
<% @company.contacts.each do |contact| %>
  <ul>
    <li><%= contact.name %> </li>
    <li><%= contact.position %> </li>
    <li><%= contact.email %> </li>
  </ul><br/>
<% end %>