All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <%= job.title %>
  <%= link_to job.title, job_path(job), class: 'job-title' %>
<% end %>

<br />

<h1>Add New Contact</h1>