<!-- <h2>All Jobs for <strong><%= @company.name %></strong></h2>
<% @company.jobs.each do |job| %>
  <%= link_to job.title, company_jobs_path(@company,job), class: 'job-title' %> <br/>
<% end %> -->

<h1><%= @company.name %></h1>

<h2>Add a New Contact</h2>

<h4>Existing Contacts</h4>