<h1>Dashboard</h1>

<h2>Jobs by Interest</h2>
  <div>
    Stars
  </div>
  <div>
    Number of Jobs
  </div>
<br />
<h2>Top Companies by Interest</h2>
  <ul>
    <li>Company Name</li>
    <li>Number of Stars</li>
  </ul>
<br />

<ul>
  <li><a>Job Location</a></li>
  <li>Number of Jobs</li>
</ul>